html,
body {
  background: #f1f1f1;
  color: #333333;
  height: 100%;
}

.bg-panels {
  background-color: indigo;
}
.main-content {
  font-size: 0;
  height: 90%;
}
.map-content {
  display: inline-block;
  width: 70%;
  height: 100%;
}

.map-content > div {
  height: 100%;
}

.map-content > div > div {
  height: 100% !important;
  padding: 0 !important;
}

.result-content {
  display: inline-block;
  width: 30%;
  height: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow-y: auto;
  font-size: medium;
}

.result-content > h2 {
  text-align: center;
}

.result-list > p {
  text-align: center;
}

.footer {
  height: 10%;
  padding: 9px;
}

@media screen and (max-width: 1342px) {
  .map-content {
    display: block;
    width: 100%;
  }
  .result-content {
    margin: 10px;
    height: 510px;
    width: 100%;
    display: block;
  }
  .footer {
    visibility: hidden;
  }
}
