<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% block styles %} {{ bootstrap.load_css() }} {% endblock %}
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    {% if page_title %}
    <title>{{ page_title }}</title>
    {% else %}
    <title>geo-treasure</title>
    {% endif %}
  </head>
  <body>
    {% include 'menu.html' %} {% with messages = get_flashed_messages() %} {% if
    messages %}
    <div class="alert alert-warning" role="alert">
      {% for message in messages %} {{ message }}<br />
      {% endfor %}
    </div>
    {% endif %}{% endwith %}
    <main role="main" class="main-content">
      {% block content %}{% endblock %}
    </main>
    <footer>
      {{ bootstrap.load_js() }}
      <section class="footer text-center py-1 bg-panels">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="" href="https://github.com/Shevelsm/geo-treasure"
              >GitHub</a
            >
          </li>
        </ul>
      </section>
    </footer>
    {{ bootstrap.load_js() }}{% block scripts %} {% endblock %}
  </body>
</html>
