{% extends 'base.html' %} {% block content %}
<section class="row">
  <article id="map" class="col-md-9 main-content">
    {% block map %} {{ folium_map|safe }} {% endblock %}
  </article>
  <section class="col-md-3 main-content">
    <h2>Список интересных мест</h2>
    <article id="results">
      <span class="badge badge-info">
        Выбери интересующий кластер на карте
      </span>
      <!-- Points list for the clicked cluster is inserted here -->
    </article>
  </section>
</section>
{% endblock %} {% block scripts %}
<!-- EventListener when message is recieved from Marker on click event -->
<script>
  $(document).ready(function() {
    console.log("Page ready!");
    window.addEventListener("message", function(e) {
      $.ajax({
        url: `/devajax/${e.data}`
      }).done(function(data) {
        $("#results").html(data);
      });
    });
  });
</script>
{% endblock %}
